<html>
<head>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <script src="/socket.io/socket.io.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
  <script src="jquery.customslide.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.2.2/underscore-min.js"></script>
  <script src="jquery.easydate-0.2.4.min.js"></script>
  <script src="dollars.js"></script>
  <script src="hookscope.js"></script>
  <style type="text/css">
    body {
      padding-top: 60px;
    }
  </style>
  <script type="text/template" id="request-template">
  <div class="row">
    <div class="span4">
      <h2><%- method %></h2>
      <p>
        <code class="easydate"><%- datetime %></code>
        <code><%- "http/" + httpVersion %></code>
      </p>
    </div>
    <div class="span12">
      <h3><%- url.href %></h3>
      <table class="bordered-table">
        <thead>
          <tr>
            <th>Header</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <% _.each(_.filterKeys(headers, ["user-agent", "content-length"]), function(value, key) { %>
          <% _.each($$.filterKeys(headers, ["user-agent"]), function(value, key) { %>
            <tr>
              <th><%- key %></th>
              <td><%- value %></td>
            </tr>   
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
  </script>
  <script type="text/template" id="request-template-old">
  <div class="row">
    <div class="span4">
      <h2><%- method %></h2>
      <p>
        <code class="easydate"><%- datetime %></code>
        <code><%- "http/" + httpVersion %></code>
      </p>
    </div>
    <div class="span12">
      <h3><%- url.href %></h3>
      <p>To include a blockquote, wrap <code>&lt;blockquote&gt;</code> around <code>&lt;p&gt;</code> and <code>&lt;small&gt;</code> tags. Use the <code>&lt;small&gt;</code> element to cite your source and youll get an em dash <code>&amp;mdash;</code> before it.</p>
      <blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
        <small>Dr. Julius Hibbert</small>
      </blockquote>
<pre class="prettyprint linenums">
&lt;blockquote&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.&lt;/p&gt;
  &lt;small&gt;Dr. Julius Hibbert&lt;/small&gt;
&lt;/blockquote&gt;
</pre>
    </div>
  </div>
  </script>


</head>
<body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">Hookscope</a>
          <ul class="nav">
            <li><a href="#" data-label="channelname"></a></li>
            <li class="active"><a href="#">Channel</a></li>
            <li><a href="#" id="clear">Clear Requests</a></li>
            <li><a href="https://github.com/dv/hookscope">About</a></li>
            <li><a href="mailto:david@crowdway.com">Contact</a></li>
          </ul>
          <ul class="nav secondary-nav">
            <li><a href="#">Listening to <span data-label="url"></span></a></li> 
          </ul>
        </div>
      </div>
    </div>




  <div class="container">
    <section id="requests-list">
      <div id="requests"></div>
    </section>
    
  <div class="hero-unit">
        <h1>Webhook Debugging</h1>
        <p>Working with webhooks is awesome, but sometimes it's hard to know what data is sent along. Use Hookscope to find out and get the details!</p>
        <p>Set <a href="#" data-label="url"></a> as your webhook endpoint, and any requests will appear above.
        </p>
        <p><a class="btn primary large" id="sample">Sample Request &raquo;</a></p>
      </div>

      <div class="row">
        <div class="span6">
          <h2>Localhost</h2>
          <p>Hookscope is very easy to set up on your own PC. The only thing you need is Node.js. If you want the requestlog to persist when you shut down the page, you can use an optional Redis database, but Hookscope works fine without as well.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span5">
          <h2>Heroku</h2>
           <p>Hookscope has sensible default settings out of the box and runs straight from Github on Heroku. You can just do a pull+push. If you add the Redis-To-Go Heroku Add-on, Hookscope will automatically detect and use it to save and receive requests without having to be opened in a browser.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span5">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>
    <footer>
      <p>&copy; David Verhasselt 2011</p>
      |
      <span data-label="status">connecting...</span>
    </footer>

  </div> <!-- /container -->

  <script>

  </script>
</body>