<html>
<head>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <script src="/socket.io/socket.io.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
  <script src="jquery.customslide.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.2.2/underscore-min.js"></script>
  <script src="jquery.easydate-0.2.4.min.js"></script>
  <script src="jquery.actual.min.js"></script>
  <script src="http://github.com/dv/dollars/raw/master/dollars.js"></script>
  <script src="hookscope.js"></script>
  <style type="text/css">
    body {
      padding-top: 60px;
    }

    .request-tag {
      white-space: nowrap;
      line-height: 2em;
    }

    .header-key {
      white-space: nowrap;
    }

    .request-query {
      color: #5789FF;
    }
  </style>
  <script type="text/template" id="request-template">
  <%
    var popularHeaderKeys = ["user-agent"];
    var popularHeaders = $$.filterKeys(headers, popularHeaderKeys);
    var extraHeaders = $$.withoutKeys(headers, popularHeaderKeys);
  %>
  <div class="row request-row">
    <div class="span4">
      <h2><%- method %></h2>
      <p>
        <code class="easydate request-tag"><%- datetime %></code>
        <code class="request-tag"><%- "http/" + httpVersion %></code>
        <% if (headers["content-length"]) { %>
          <code class="request-tag"><%- $$.formatSize(headers["content-length"]) %></code>
        <% } %>
      </p>
    </div>
    <div class="span12">
      <h2><%- url.pathname %><span class="request-query"><%- url.search %></span></h2>
      <% if (!_.isEmpty(url.query)) { %>
        <table class="bordered-table">
          <thead>
            <tr>
              <th colspan="2">Querystring</th>
            </tr>
          </thead>
          <tbody>
            <% _.each(url.query, function(value, key) { %>
              <tr>
                <th><%- key %></th>
                <td><%- value %></td>
              </tr>   
            <% }); %>
          </tbody>
        </table>
      <% } %>
      <% if (!_.isEmpty(body)) { %>
        <table class="bordered-table">
          <thead>
            <tr>
              <th colspan="2">Request Body</th>
            </tr>
          </thead>
          <tbody>
            <% _.each(body, function(value, key) { %>
              <tr>
                <th><%- key %></th>
                <td><%- value %></td>
              </tr>   
            <% }); %>
          </tbody>
        </table>
      <% } %>
      <table class="bordered-table">
        <thead>
          <tr>
            <th colspan="2">Request Headers</th>
          </tr>
        </thead>
        <tbody class="headers-table" style="display: block; overflow: hidden;">
          <% _.each(popularHeaders, function(value, key) { %>
            <tr class="popular-header">
              <th class="header-key"><%- key %></th>
              <td style="width: 100%"><%- value %></td>
            </tr>   
          <% }); %>
          <% _.each(extraHeaders, function(value, key) { %>
            <tr class="extra-header">
              <th class="header-key"><%- key %></th>
              <td><%- value %></td>
            </tr>   
          <% }); %>
        </tbody>
        <tbody class="show-more-headers">
          <tr class="show-more-headers-label" style="display: none">
            <th colspan="2" >Show less</th>
          </tr>
          <tr class="show-more-headers-label">
            <th colspan="2">Show <%= _.size(extraHeaders) %> more</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </script>


</head>
<body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">Hookscope</a>
          <ul class="nav">
            <li><a href="#" data-label="channelname"></a></li>
            <li class="active"><a href="#">Channel</a></li>
            <li><a href="#" id="clear">Clear Requests</a></li>
            <li><a href="https://github.com/dv/hookscope">About</a></li>
            <li><a href="mailto:david@crowdway.com">Contact</a></li>
          </ul>
          <ul class="nav secondary-nav">
            <li><a href="#">Listening to <span data-label="url"></span></a></li> 
          </ul>
        </div>
      </div>
    </div>




  <div class="container">
    <section id="requests-list">
      <div id="requests"></div>
    </section>
    
  <div class="hero-unit">
        <h1>Webhook Debugging</h1>
        <p>Working with webhooks is awesome, but sometimes it's hard to know what data is sent along. Use Hookscope to find out and get the details!</p>
        <p>Set <a href="#" data-label="url"></a> as your webhook endpoint, and any requests will appear above.
        </p>
        <p><a class="btn primary large" id="sample">Sample Request &raquo;</a></p>
      </div>

      <div class="row">
        <div class="span6">
          <h2>Localhost</h2>
          <p>Hookscope is very easy to set up on your own PC. The only thing you need is Node.js. If you want the requestlog to persist when you shut down the page, you can use an optional Redis database, but Hookscope works fine without as well.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span5">
          <h2>Heroku</h2>
           <p>Hookscope has sensible default settings out of the box and runs straight from Github on Heroku. You can just do a pull+push. If you add the Redis-To-Go Heroku Add-on, Hookscope will automatically detect and use it to save and receive requests without having to be opened in a browser.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span5">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>
    <footer>
      <p>&copy; David Verhasselt 2011</p>
      |
      <span data-label="status">connecting...</span>
    </footer>

  </div> <!-- /container -->

  <script>

  </script>
</body>